<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">

    <select id="getBoard" parameterType="int" resultType="com.example.board.BoardVO">
        SELECT *
        FROM BOARD
        WHERE id = #{id}
    </select>

    <select id="getBoardList" resultType="Board">
        SELECT * FROM BOARD
    </select>

    <select id="getBoardsBySubject" parameterType="string" resultType="Board">
        SELECT *
        FROM BOARD
        WHERE subject = #{subjectName}
    </select>

    <select id="getBoardById" parameterType="int" resultType="com.example.board.BoardVO">
        SELECT * FROM BOARD WHERE id = #{id}
    </select>

    <insert id="insertBoard" parameterType="com.example.board.BoardVO">
        INSERT INTO BOARD (userid, title, professor, contents, subject)
        VALUES (#{userid}, #{title}, #{professor}, #{contents}, #{subject})
    </insert>

    <update id="updateBoard" parameterType="com.example.board.BoardVO">
        UPDATE BOARD
        SET title = #{title},
        professor = #{professor},
        contents = #{contents},
        regdate = NOW()
        WHERE id = #{id}
    </update>

    <update id="updateLikes">
        UPDATE BOARD
        SET likes = likes + 1
        WHERE id = #{id}
    </update>

    <update id="updateViewCount">
        UPDATE BOARD
        SET view = view + 1
        WHERE id = #{id}
    </update>

    <select id="getLikes" resultType="int">
        SELECT likes FROM BOARD WHERE id = #{id}
    </select>

    <delete id="deleteBoard" parameterType="int">
        DELETE FROM BOARD
        WHERE id = #{id}
    </delete>

    <select id="searchBoards" parameterType="string" resultType="com.example.board.BoardVO">
        SELECT *
        FROM BOARD
        WHERE subject = #{subjectName}
        AND title LIKE CONCAT('%', #{searchKeyword}, '%');
    </select>

</mapper>